.card-options {
  &__body {
    min-height: 20vh;
  }

  &__footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    & h5 {
      color: blueviolet;
    }
  }
}

.icon {
  &-edit {
    color: green;
    cursor: pointer;
    &:hover {
      color: lighten(green, 15%);
    }
  }
  &-delete {
    color: darken(red, 15%);
    cursor: pointer;
    &:hover {
      color: red;
    }
  }
}
