.card__wrapper {
  background-color: #fff;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 7px;
  padding: 10px;
  cursor: pointer;

  & p {
    margin: 0;
    text-align: left;
  }
}
