.card__wrapper {
  background-color: #fff;
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-radius: 7px;
  padding: 10px;
  cursor: pointer;
  overflow: auto;

  &:hover {
    background-color: darken(#fff, 10%);
  }

  & p {
    margin: 0;
    text-align: left;
    overflow-wrap: break-word;
  }
}

.comments-icon {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  gap: 3px;

  &__text {
    font-size: 12px;
  }
}
